:root {
    --outer-border: 16px;
    --inner-border: 12px;
    --background-color: 40;
    --font-main: "Cascadia Code";
    /*font-family: "Cascadia Code";*/
    --header-height: 5rem;
    --widget-border-radius: 8px;
}

:root {
    --transparent-white-90: rgba(255,255,255, .9);
    --transparent-white-80: rgba(255,255,255, .8);
    --transparent-white-70: rgba(255,255,255, .7);
    --transparent-white-60: rgba(255,255,255, .6);
    --transparent-white-50: rgba(255,255,255, .5);
    --transparent-white-40: rgba(255,255,255, .4);
    --transparent-white-30: rgba(255,255,255, .3);
    --transparent-white-20: rgba(255,255,255, .2);
    --transparent-white-10: rgba(255,255,255, .1);

    --font-color-main: #fff4d6;
    --dark-color-background: rgba(40,40,40);
    --lighter-dark-color: rgba(50,50,50, 1);
    --background-dark-color: rgba(30,30,30, 1);
}
.modal {
    z-index: 1000;
}
.scrollable-y {
    overflow-y: scroll;
}
.pop-out-shadow {
    box-shadow: 4px 4px 8px 2px rgba(0, 0, 0, .5);;
}
.pop-out-centered-shadow {
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, .5);
}
.cut-rounded-border {
    overflow: hidden;
    border-radius: var(--widget-border-radius);
}

.title {
    display: flex;
    align-items: center;
    font-family: var(--font-main);
    color: var(--font-color-main);
    font-size: 48px;
    height: 50px;
}

.hr-vertical {
    min-width: 4px;
    max-width: 4px;
    background: transparent;
    border: none;
}

.hr-horizontal-transparent {
    margin: 0;
    min-height: 4px;
    max-height: 4px;
    border: none;
}

.hr-horizontal {
    margin: 0;
    min-height: 2px;
    max-height: 2px;
    border: none;
    background: white;
}

body {
    margin: 0;
    padding: 0;
}
html {
    background: var(--dark-color-background);
}
